include head.pug
header
  nav
      ul
          li
             a(href='javascript:history.back()')
                  i.fas.fa-chevron-left
          li Registreren
          li
             a(href='/')
                  img(src='../../static/img/logo.png', alt='logo')
