<% include head.ejs %>
<body>
<header>
    <nav>
        <ul>
            <li><a href="javascript:history.back()"><i class="fas fa-chevron-left"></i></a></li>
            <li>Registreren</li>
            <li><a href="index.html"><img src="../../static/img/logo.png" alt="logo"></a></li>
        </ul>
    </nav>
</header>
