:root {
    --textColor: #F6F6F6;
    --inputFieldColor: #ecfbff;
    --buttonColor: #9cd9e8;
}

body {
    font-family: proxima-nova, sans-serif;
    height: 100vh;
    margin: auto; padding: 0;
    background: linear-gradient(0deg,rgba(0, 42, 66, 0.6),rgba(26, 26, 26, 0.6)),url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-position-y: -1px;
    color: var(--textColor);
}

header {
    padding: 1.3rem 0;
    background-color: rgba(87, 96, 160, 0.37);
    border-bottom: 1px solid rgba(157,186,242,0.25);
}


nav ul {
    display: grid;
    grid-template-columns: repeat(4, auto) 1fr 100px;
    grid-gap: 3rem;
    justify-items: flex-start;;
    align-items: center;
    margin: 0; padding: 0 3rem;
}

nav ul li {
    display: inline;
    list-style-type: none;
    font-size: 1.2rem; 
    font-weight: 400;
}

nav ul li:nth-child(5) { justify-self: flex-end; }

nav ul li a {
    color: #d6e1f9;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fafbfc;
    transition: all .2s linear;
}

.nav_img {
    width: 2.5rem;
    border-radius: 100%; 
}

img[alt="logo"] {
    width: 3rem;
}

.profile {
    position: relative;
}

.profile .header {
    background: linear-gradient(to bottom, rgba(87,96,160,0.37) 20%, rgba(43, 51, 109, 0.37) 100%);

}

.profile .header section {
    max-width: 70rem; min-height: 10rem;
    margin: auto; padding: 1.3rem 0;
}

.profile section div {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 4rem;
    display: flex;
}

.profile_img {
    width: 11rem;
    border: 1px solid rgba(99, 99, 99, 0.41);
    border-radius: 100%;
    box-shadow: 0px 4px 17px rgba(62, 62, 62, 0.43);
}

.profile section div h1 {
    position: absolute;
    left: 12.6rem; top: 1.5rem;
    font-size: 2rem; font-weight: normal; letter-spacing: 0.1rem;
    min-width: 40rem;
}

.profile section div data-caption {
    position: absolute;
    display: flex;
    left: 12.6rem; top: 6.2rem;
    color: rgba(255, 255, 255, 0.7); 
    font-size: 1rem; font-weight: normal; text-transform: capitalize;
}

.profile div data-caption p {
    margin: 0;
}

.profile div data-caption span {
    padding: 0 7px 0 7px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    font-size: 25px;
    line-height: 8px;
}

.profile .content {
    min-height: 37rem;
    color: #F3F5F9;
    background: rgba(243, 245, 249, 0.94);
}

.profile .content {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.profile .content section {
    height: 20rem;
    width: 65rem;
    margin: auto;
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 1.1rem 2rem;
    color: rgb(50, 50, 50);
    border-radius: 3px;
}

.content section h4 {
    margin: 0;
    color: rgba(51, 51, 51, 0.678);
    font-size: 0.8rem; letter-spacing: 0.9px; text-transform: uppercase;
}

.content section h1 {
    margin: .3rem 0;
}

.content section textarea {
    background-color: #f3f3f3;
    padding: .9rem;
    margin-top: .5rem;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
}

.match_img {
    width: 8rem;
}

.matches {
    padding: 2rem;
}
.matches h3{
    text-align: center;
    margin: 0;
}
.matches ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.matches img{
    display: block;
    width: 16em;
}
.matches li{
    position: relative;
    width: 16em;
    display: inline;
    border: solid 1px white;
    padding: 0.1em;
    margin: 0.5em 0.2em;
}
.matches button{
    position: absolute;
    bottom: 0.5em;
    font-size: 1.1em;
    color: white;
    border: 0em;
    opacity: 0.9;
    transition: all 1s;
    cursor: pointer;
}
.matches button:hover{
    transform: scale(1.03);
    opacity: 1.0;
}
.unmatch{
    left: 1em;
    background-color: red;
}
.message{
    right: 1em;
    background-color: green;
}

.movieimg {
    width: 7rem;
}