section{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(5, 1fr);
	padding: 0.2em;
}
article{
	display: inline;
	margin: 0.5em 0.2em;
	position: relative;
	transition: 1s all;
}
article:hover{
	transform: scale(1.01);
	cursor: pointer;
}
article img{
	height: 14em;
}
article p{
	background-color: black; 
	bottom: 0;
	color: white;
	font-family: helvetica;
	font-size: 0.8em;
	margin: 0;
	opacity: 0.8;
	padding: 0.2em 0;
	position: absolute;
	width: inherit;
}