:root {
    --text-color: #F6F6F6;
    --inputfield-color: #ecfbff;
    --button-color: #9cd9e8;
}

body {
    font-family: proxima-nova, sans-serif;
    max-width: 70rem;
    margin: auto; padding: 0;
    background: linear-gradient(0deg,rgba(0, 42, 66, 0.6),rgba(26, 26, 26, 0.6)),url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-position-y: -1px;
    background-repeat: no-repeat;
    color: var(--text-color);
}

header {
    margin-top: 2rem;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    justify-items: center;
    align-items: flex-start;
    margin: 0; padding: 0;
}

nav ul li {
    display: inline;
    list-style-type: none;
    font-size: 2rem; 
    font-weight: bold;
}

nav ul li:nth-child(1) { justify-self: flex-start; }
nav ul li:nth-child(3) { justify-self: flex-end; }

i {
    color: var(--text-color);
}

img[alt="logo"] {
    width: 4rem;
}

section {
    font-weight: bold;
    margin-top: 2rem;
    height: 87vh;
}

section form {
    display: grid;
    justify-items: center;
    color: var(--text-color);
    position: relative;
}

section form legend {
    font-size: 1.7rem;
    text-align: center;
    font-style: italic;
    margin-bottom: 1rem;
    padding-top: 3rem;
}

section form label {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: .4rem;
    text-align: center;
}

section form label[for='profilePic'] {
    display: grid;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    background: #dcdcdc;
    color: rgb(26, 26, 26);
    height: 12rem;
    width: 13rem;
    border-radius: 100%;
    justify-items: center;
    align-items: center;
    margin: auto;
    margin-bottom: 2.4rem;
}

section form input[type="file"] {
    color: rgb(26, 26, 26);
}

section form input {
    background-color: var(--inputfield-color);
    width: 24rem;
    height: 1.4rem;
    padding: .7rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.home {
    background-color: rgb(236, 236, 236);
    max-width: 100vw;
}

.select_gender, .select_gender div {
    display: grid;
    justify-items: center;
    position: relative;
    min-width: 25.3rem;
}

.select_gender div {
    background-color: var(--inputfield-color);
}

.select_gender div input {
    position: relative;
    right: 0rem; top: 1rem;
}

.select_gender div label {
    position: absolute;
    left: 3rem; top: 1rem;
    color: #3C3C3B;
    font-weight: lighter;
}

.select_gender div:nth-child(2) {
    border-bottom: 1px solid #B2B2B2;
    border-top-left-radius: 5px; border-top-right-radius: 5px;
}

.select_gender div:nth-child(3) { 
    border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; 
    margin-bottom: 2rem;
}

.select_dateofbirth, .select_dateofbirth div {
    display: grid;
    justify-items: center;
    position: relative;
}

.select_dateofbirth div {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    max-width: 25.4rem;
}

.select_dateofbirth div input {
    width: 78%;
    padding: .6rem .8rem;
}

input[type='file'] {
    padding-top: 1rem;
    line-height: 0;
    color: rgb(26, 26, 26);
}

section form p {
    font-size: 1rem;
    font-weight: lighter;
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.register-form {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
}

.register-form button, .login button {
    min-width: 25.3rem;
    padding: .7rem;
    font-size: 1.5rem;
    letter-spacing: 0.3px;
    color: #3C3C3B;
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

fieldset {
    display: grid;
    justify-items: center;
    border: none;
}

.section1, .section2, .section3 {
    position: relative;
    display: grid;
    justify-items: center;
    color: var(--textColor);
    position: relative;
    transition: all .4s linear;
    right: 0;
    left: 0;
}

.section2 {
    display: none;
    left: 20rem;
    opacity: 0;
}

.section3 {
    display: none;
    left: 20rem;
    opacity: 0;
}

.js-disabled {
    height: auto;
}

.js-disabled .section1, .js-disabled .section2, .js-disabled .section3 {
    opacity: 1;
    display: grid;
    left: 0;
}

.js-disabled .register-form, .js-disabled section form {
    display: block;
}

.js-disabled input, .js-disabled form button {
    margin-left: auto; margin-right: auto;
}

.js-disabled p, .js-disabled .zipcodeInputs {
    text-align: center;
}

.js-disabled legend {
    padding-top: 0;
}

.js-disabled .section3 button {
    margin-bottom: 3rem;
}

.js-disabled .tracker, .js-disabled .section1 p, .js-disabled .section1 button, .js-disabled .section2 p, .js-disabled .section2 button, .js-disabled .section2 legend, .js-disabled .section3 legend  {
    display: none;
}

.dateofbirth, .dateofbirth div {
    display: grid;
    justify-items: center;
    position: relative;
}

.dateofbirth div {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    max-width: 25.4rem;
}

.dateofbirth div input {
    width: 78%;
    padding: .6rem .8rem;
}

input[id="zipcode"] {
    max-width: 16.3rem;
}

input[id="zipcodeLetters"] {
    max-width: 5rem;
    margin-left: 1rem;
}

.profile_img {
    width: 20rem;
}

.tracker {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    position: absolute;
    top: 0rem;
}

.tracker div {
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgba(202, 202, 202, 0.48);
    border-radius: 100%;
}

.tracker #active {
    background-color: rgba(40, 137, 216, 0.60);
}

#tryagain {
    color: red;
    margin-top: 4em;
    font-size: 1em;
}

@media (max-width: 1300px) {
    nav ul li:nth-child(1) { justify-self: center; transition: .4s linear;}
    nav ul li:nth-child(3) { justify-self: center; transition: .4s linear;}
}