<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/png" href="../../static/img/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/etb5dmm.css">
    <title>LoveSome</title>
</head>
<main>
    <header>
        <nav>
            <ul>
                <li class="logo">LoveSome<img src="../../static/img/logo.png" alt="logo"></li>
                <li><a href="/register">Registreren</a></li>
                <li><a href="/login">Inloggen</a></li>
            </ul>
        </nav>
    </header>
    <section class="home">
        <h1>Maak je leven compleet.</h1>
        <a href="/register">Nu gratis aanmelden</a>
    </section>
</main>

<% include partials/tail.ejs %>

