<% include partials/head.ejs %>

    <header>
        <nav>
            <ul>
                <l1><a href="/register">Registreren</a></l1>
                <l1><a href="/userlist">User list</a></l1>
                <l1><a href="/about">Over ons</a></l1>
            </ul>
        </nav>
    </header>
    <h1>Homepage</h1>

