<% include partials/head.ejs %>
<body>
    <header>
        <nav>
            <ul>
                <l1><a href="/register">Register</a></l1>
                <l1><a href="/about">About</a></l1>
                <l1><a href="/404page">404 Page</a></l1>
            </ul>
        </nav>
    </header>
    <h1>Homepage</h1>
    <% for (let i = 0; i < testData.length; i++) { %>
        <h3> Naam: <%= testData[i].name %></h3>
        <h3> Leeftijd: <%= testData[i].age %></h3>
    <% } %>
</body>