<% include partials/head.ejs %>
<header>
    <nav>
        <ul>
            <li><a href="/"><i class="fas fa-chevron-left"></i></a></li>
            <li>Inloggen</li>
            <li><a href="/"><img src="../../static/img/logo.png" alt="logo"></a></li>
        </ul>
    </nav>
</header>

<section class="login">
    <form action="/login" method="POST" >
        <label for="username">Gebruikersnaam</label>
        <input type="text" name="username" id="username">
        <label for="password">Wachtwoord</label>
        <input type="password" name="password" id="password">
        <button type="submit">Log in</button>
    </form>
</section>

<% include partials/tail.ejs %>