include partials/header.pug
section.register.js-disabled
    form.register-form(action='/register', enctype='multipart/form-data', method='POST')
        fieldset.section1#description
            legend Vertel een beetje over jezelf
            label(for='username') Gebruikersnaam
            input#username(type='text', name='username')
            label(for='password') Wachtwoord
            input#password(type='password', name='password')
            .select_gender
                label(for='gender') Geslacht
                div
                    input#man(type='radio', name='gender', value='man')
                    label(for='man') Man
                div
                    input#vrouw(type='radio', name='gender', value='vrouw')
                    label(for='vrouw') Vrouw
            .dateofbirth
                label(for='day') Geboortedatum
                div
                    input#day(type='text', name='day', placeholder='Dag')
                    input#month(type='text', name='month', placeholder='Maand')
                    input#year(type='text', name='year', placeholder='Jaar')
            p Deze informatie wordt weergeven aan andere gebruikers
            button Volgende
        fieldset.section2#place
            legend Hey, waar woon je momenteel?
            label(for='country') Land
            input#country(type='text', name='country' placeholder="Nederland")
            label(for='city') Stad
            input#city(type='text', name='city' placeholder="Amsterdam")
            label(for='zipcode') Postcode
            .zipcodeInputs
                input#zipcode(type='text', name='zipcode' placeholder="1012")
                input#zipcodeLetters(type='text', name='zipcodelet' placeholder="AB")
            p Deze informatie wordt weergeven aan andere gebruikers
            button Volgende
        fieldset.section3#picture
            legend Nu nog alleen een foto van jezelf
            label(for='profilePic') Profielfoto
            input#profilePic(type='file', name='profilepicture', accept='image/*')
            button(type='submit') Volgende
        .tracker
            .description#active
            .place
            .picture
include partials/tail.pug