<% include partials/header.ejs %>

<section class="upload">
    <form action="/register" method="POST">
        <legend>Hey <%= data.firstName %>, Nu nog alleen een foto van jezelf</legend>
        <input type="file" name="profilepicture" accept="image">
        <img src="/upload<%= data.profilepicture %>" alt="<%= data.firstName %>">
        <p>Deze informatie wordt weergeven aan andere gebruikers</p>
        <button type="submit">Volgende</button>
    </form>
    <a href="../userlist"> Bekijk alle profielen</a>
</section>

<% include partials/tail.ejs %>