<% include partials/header.ejs %>

<main>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <legend>Hey <%= data[0].firstName %>, Nu nog alleen een foto van jezelf</legend>
        <input type="file" name="profilepicture" accept="image">
        <p>Deze informatie wordt weergeven aan andere gebruikers</p>
        <button type="submit">Volgende</button>
    </form>
    <a href="../userlist"> Bekijk alle profielen</a>
</main>

<% include partials/tail.ejs %>