<% include partials/header.ejs %>

<main>
    <form action="/" method="POST">
        <legend>Hey <%= testData[0].firstName %>, Nu nog alleen een foto van jezelf</legend>

        <p>Deze informatie wordt weergeven aan andere gebruikers</p>
        <button type="submit">Volgende</button>
    </form>
</main>

<% include partials/tail.ejs %>