<% include partials/header.ejs %>

<main>
    <form action="/register" method="POST">
        <legend>Hey <%= data[0].firstName %>, Nu nog alleen een foto van jezelf</legend>
        <input type="file" name="profilepicture" accept="image">
        <img src="/upload<%= data[0].profilepicture %>" alt="<%= data[0].firstName %>">
        <p>Deze informatie wordt weergeven aan andere gebruikers</p>
        <button type="submit">Volgende</button>
    </form>
    <a href="../userlist"> Bekijk alle profielen</a>
</main>

<% include partials/tail.ejs %>