<% include partials/header.ejs %>

<section class="userlist">
    <h1>Potentiële matches</h1>
    <% for (let i = 0; i < data.length; i++) { %>
        <h3>Voornaam: <%= data[i].firstName %></h3>
        <img src="/upload/<%= data[i].profilepicture %>" alt="<%= data[i].firstName %>">
        <a href="/<%= data[i] %>/userdetail"> Profile</a>
    <% } %>
</section>

<% include partials/tail.ejs %>